- content_for :first_styles do
  :css
    #repeats_options {display:none;}
    #repeats_daily_options {display:none;}
    #repeats_weekly_options {display:none;}
    #repeats_monthly_options {display:none;}
    #repeats_yearly_options {display:none;}

=yield :first_styles

%h1 Create a New Prescription

= bootstrap_form_for @prescription, html: {class: 'form-horizontal', novalidate: 'novalidate'} do |f|
  .row
    .span6
      = f.text_field :drug_name, class: 'span4'
      = f.text_area :description, class: 'span4', rows: 5
      = f.text_area :instructions, class: 'span4', rows: 5
      = f.date_select :fill_date, class: 'span4'
      = f.number_field :dose_count
    .span6
      = f.select :time_block_id, options_for_select(current_user.time_blocks.map {|b| [b.name, b.id]})
      = f.date_select :from_date, {}, {style: 'width:auto;'}
      .prescription_time
        = f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, :default => "Central Time (US & Canada)"
      = f.select :repeats, Prescription::RepeatsOptions
      = render partial: 'repeats_daily_options', locals: {f: f}
      = render partial: 'repeats_weekly_options', locals: {f: f}
      = render partial: 'repeats_monthly_options', locals: {f: f}
      = render partial: 'repeats_yearly_options', locals: {f: f}
      #repeats_options.prescription_option
        = f.select :repeat_ends, Prescription::RepeatEndsOptions
        #prescription_repeat_ends_on
          = f.date_select :repeat_ends_on, {}, {style: 'width:auto;'}
  .form-actions
    = f.submit 'Save'
 
- content_for :last_javascripts do
  :javascript
    $(function() {
      var toggle_repeats_yearly_on = function() {
        if($('#prescription_repeats_yearly_on').is(':checked')) {
          $('#prescription_repeats_yearly_on_options').show();
        } else {
          $('#prescription_repeats_yearly_on_options').hide();
        }
      }
      toggle_repeats_yearly_on();

      $('#prescription_repeats_yearly_on').on('change',function() {
        toggle_repeats_yearly_on();
      });

      var toggle_prescription_times = function() {
        if($('#prescription_is_all_day').is(':checked')){
          $('.prescription_time').hide();
        } else {
          $('.prescription_time').show();
        }
      }
      toggle_prescription_times();

      $('#prescription_is_all_day').on('change',function() {
        toggle_prescription_times();
      });

      var toggle_prescription_options = function() {
        $('.prescription_option').hide();
        switch ($('#prescription_repeats').val())
        {
          case 'never':
            // Nothing
          break;
          case 'daily':
            $('#repeats_options').show();
            $('#repeats_daily_options').show();
          break;
          case 'weekly':
            $('#repeats_options').show();
            $('#repeats_weekly_options').show();
          break;
          case 'monthly':
            $('#repeats_options').show();
            $('#repeats_monthly_options').show();
          break;
          case 'yearly':
            $('#repeats_options').show();
            $('#repeats_yearly_options').show();
          break;
        }
      }
      toggle_prescription_options();

      $('#prescription_repeats').on('change',function() {
        toggle_prescription_options();
      });

      var toggle_repeat_ends_on = function() {
        switch ($('#prescription_repeat_ends').val())
        {
          case 'never':
            $('#prescription_repeat_ends_on').hide();
          break;
          case 'on':
            $('#prescription_repeat_ends_on').show();
          break;
        }
      }
      toggle_repeat_ends_on();

      $('#prescription_repeat_ends').on('change',function() {
        toggle_repeat_ends_on();
      });

      var toggle_repeats_monthly = function() {
        switch ($('#prescription_repeats_monthly').val())
        {
          case 'each':
            $('#prescription_repeats_monthly_each').show();
            $('#prescription_repeats_monthly_on').hide();
          break;
          case 'on':
            $('#prescription_repeats_monthly_each').hide();
            $('#prescription_repeats_monthly_on').show();
          break;
        }
      }
      toggle_repeats_monthly();

      $('#prescription_repeats_monthly').on('change',function() {
        toggle_repeats_monthly();
        });
    });
